<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <bean id = "mock_database_user01" class = "todo.DatabaseUser">
        <property name = "name" value = "root"/>
        <property name = "password" value = ""/>
    </bean>
    
    <bean id = "mock_database_server01" class = "todo.DatabaseServer">
        <property name = "dbms" value = "mysql"/>
        <property name = "serverName" value = "localhost"/>
        <property name = "portNumber" value = "3306"/>
    </bean>
    
    <bean id = "test_task01" class = "todo.Task">
        <property name = "title" value = "test task01 title"/>
        <property name = "description" value = "test task01 description"/>
    </bean>
    
    <bean id = "test_task02" class = "todo.Task">
        <property name = "title" value = "test task02 title"/>
        <property name = "description" value = "test task02 description"/>
    </bean>
            
    <bean id = "test_project01" class = "todo.Project">
        <property name = "title" value = "test project01 title"/>
        <property name = "description" value = "test project01 description"/>
    </bean>
    
</beans>
